

/* ESTILO DEL FORMULARIO DINÁMICO */
.contacto-container {
    padding: 50px 20px;
    display: flex;
    justify-content: center;
}

.contacto-card {
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    max-width: 500px;
    width: 100%;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #1a3a5a;
}

.input-group input, .input-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
}

/* Resalte cuando haces clic en una caja */
.input-group input:focus, .input-group textarea:focus {
    border-color: #ffcc00;
}

/* BOTÓN DINÁMICO */
.btn-enviar {
    background-color: #1a3a5a;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    width: 100%;
}

.btn-enviar:hover {
    background-color: #ffcc00;
    color: #1a3a5a;
    transform: scale(1.02);
}

/* Footer */
.footer-interactivo {
    background: #1d3557;
    color: white;
    text-align: center;
    padding: 40px 20px 20px;
    margin-top: 50px;
    font-family: 'Arial', sans-serif;
}

.footer-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around; /*separa las seccioens*/
    align-items: center; 
    flex-wrap: wrap; /*se adapta a celulares*/
    gap: 30px; 
}

.footer-section h3 {
    font-size: 1.1rem;
    margin-bottom: 15px;
}

/*iconos redes sociales*/
.social-icons {
    display: flex;
    gap: 20px;
}

.icon-link {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition: all s.3s ease;
}

.icon-link:hover {
    color: #ffcc00; /*dorado al pasar el mouse*/
    transform: translate(-5px) scale(1.2);
}

/*boton libro de reclamaciones*/
.libro-reclamaciones {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px 25px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.libro-reclamaciones i {
    font-size: 2rem;
    color: #ffcc00;
}

.libro-reclamaciones :hover {
    background-color: #ffcc00;
    color: #1a3a5a;
    border-color: #ffcc00;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
}

.libro-reclamaciones i {
    color: #1a3a5a;
}


/*copyriht al fondo*/
.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 0.9rem;
    opacity: 0.8;
}